<div class="modal-header">
  <h4 class="modal-title">All Ratings & Reviews</h4>

  <button type="button" class="close" aria-label="Close" (click)="close()">
    <img src="assets/images/close.svg" alt="close icon" width="25">
  </button>
</div>
<div class="modal-body pt-0">
    <div class="rating-header">
        <star-rating size="35" [value]="clinicianData.averageRating" [totalstars]="5" checkedcolor="#f2cc00" uncheckedcolor="#999999"  [readonly]="true" style="display: inline-block"></star-rating>
        <span>({{clinicianData?.averageRating}})</span>
      </div>
  <ul class="nav nav-tabs" *ngIf="reviews_type == 'ATC' || reviews_type =='PTC'">
    <li class="nav-item">
      <a  [class]="reviews_type == 'ATC' ? 'nav-link active' : 'nav-link'" (click)="getReviews('ATC')" href="javascript:;">Agency Ratings</a>
    </li>
    <li class="nav-item">
      <a   [class]="reviews_type == 'PTC' ? 'nav-link active' : 'nav-link'" (click)="getReviews('PTC')" href="javascript:;">Patient Ratings</a>
    </li>
  </ul>

  <ul class="nav nav-tabs" *ngIf="reviews_type == 'CTA'">
    <li class="nav-item">
      <a  [class]="reviews_type == 'CTA' ? 'nav-link active' : 'nav-link'" (click)="getReviews('ATC')" href="javascript:;">Clinicians Ratings</a>
    </li>
  </ul>
  <div class="tab-content" id="ratings">
    <div class="tab-pane fade show active" id="agency" role="tabpanel" aria-labelledby="agency-tab">
      
      <div class="review-body" *ngIf="reviews_list[reviews_type]?.length >  0">
        <div class="all-review">All Reviews</div>

        <div class="review-list">
          <div class="review-content" *ngFor="let review of reviews_list[reviews_type]">
            <div class="rating">
              <star-rating size="28" [value]="review.rating" [totalstars]="5" checkedcolor="#f2cc00" uncheckedcolor="#999999"  [readonly]="true" style="display: inline-block"></star-rating>
              <span>({{review.rating}})</span>
            </div>
            <div class="review-title">{{reviews_type == 'ATC' ? review.agencyName : review.patientName}}</div>
            <div class="review-posted">{{review.daysAgo}} days ago</div>
            <div class="review-text">{{review.reviewText}}</div>
          </div>

        </div>
      </div>
      <div class="review-body" *ngIf="reviews_list[reviews_type]?.length == 0">
        <div class="all-review">No Reviews</div>
      </div>
    </div>

    <!-- <div class="tab-pane fade" id="patient" role="tabpanel" aria-labelledby="patient-tab">Patient content</div> -->
  </div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="close()">Cancel</button>
    <button type="button" class="primary-gradient-btn">Create</button>
</div> -->
