<!-- Transition is not applied because position absolute issue -->
<div class="page-center-wrapper">
  <div class="page-center">
    <div class="healthPro-card">
      <div class="healthPro-card-container shadow-lg bg-white">
        <div class="healthPro-card-header">
          <div class="healthPro-card-header-title">{{'HomeHealthPro' || translate}}</div>
        </div>
        <div class="healthPro-card-body">
          <div class="healthPro-card-body-info">
            <h1>{{'Reset Password' || translate}}</h1>
            <p>{{'Resetting the password is easy, just enter your New Password.' || translate}}</p>
          </div>

          <div>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="healthPro-card-formContent">
                <div class="form-group">
                  <label for="newPassword" class="col-form-label">New Password<span class="text-danger">*</span></label>
                  <div class="password">
                    <input [type]="fieldTextType ? 'text' : 'password'" placeholder="New password" class="form-control input-underline input-lg" id="newPassword" formControlName="Password" autocomplete="off">
                    <i class="fa fa-password" [ngClass]="!fieldTextType ? 'fa-eye' :'fa-eye-slash'" (click)="onNewPassword()"></i>
                  </div>

                  <div *ngIf="resetForm.controls['Password'].hasError('required') && submitted" class="text-danger error">New password is required.</div>
                  <div *ngIf="resetForm.controls['Password'].hasError('pattern') && submitted" class="text-danger error">Password must be 8 Characters long and must contain at least one upper case character, one lowercase character, one number and one alphanumeric character.</div>
                </div>

                <div class="form-group">
                  <label for="confirmPassword" class="col-form-label">Confirm Password<span class="text-danger">*</span></label>
                  <div class="password">
                    <input [type]="fieldTextType2 ? 'text' : 'password'" placeholder="Confirm password" class="form-control input-underline input-lg" id="confirmPassword" formControlName="ConfirmPassword" autocomplete="off">
                    <i class="fa fa-password" [ngClass]="!fieldTextType2 ? 'fa-eye' :'fa-eye-slash'" (click)="onConfirmPassword()"></i>
                  </div>

                  <div *ngIf="resetForm.controls['ConfirmPassword'].hasError('required') && submitted" class="text-danger error">Confirm Password is required.</div>
                  <div *ngIf="resetForm.controls['ConfirmPassword'].dirty && resetForm.hasError('mismatchedPasswords') && !resetForm.controls['ConfirmPassword'].hasError('required')" class="text-danger error">Password don't match.</div>
                </div>
              </div>
              <div class="healthPro-card-buttons text-center">
                <button type="submit" class="btn btn-primary btn-block btn-radius">Reset Password</button>
              </div>
            </form>
          </div>

          <div class="text-center">
            <a class="btn btn-link" [routerLink]="['/login']">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
