// Colors
$grey-1: #f3f4f8;
$grey-2: #eef0f8;
$grey-3: #f6f7fa;
$grey-4: #c4c8d7;
$grey-5: #5a5f6d;
$grey-6: #f5f6fa;
$grey-7: #808ca6;
$grey-8: #999797;
$grey-9: #eeeeee;
$grey-10: #fcfcfc;
$grey-11: #dddddd;
$black-1: #1f2427;
$black-2: #999999;
$black-3: #333333;
$green-1: #4cd964;
$green-2:#00a65a;
$purple-1: #663399;
$blue-1: #132e68;
$blue-2: #206bd4;
$blue-3: #e7e9f4;
$blue-4:#00c0ef;
$blue-5: #4c68f4;
$blue-6: #6f80db;
$warning: #e2b61e;
$success: #07a91a;
$danger:#dc3545;
$caret: #e67e22;
// Gradient
$primary-gradient: linear-gradient(90deg, rgba(33, 106, 211, 1) 25%, rgba(102, 51, 153, 1) 100%);