<!-- Transition is not applied because position absolute issue -->
<div class="page-center-wrapper">
  <div class="page-center">
    <div class="healthPro-card">
      <div class="healthPro-card-container shadow-lg bg-white">
        <div class="healthPro-card-header">
          <div class="healthPro-card-header-title">{{'HomeHealthPro' || translate}}</div>
        </div>
        <div class="healthPro-card-body">
          <div class="healthPro-card-body-info">
            <h1 *ngIf="!submitted">{{'Forgot Your Password?' || translate}}</h1>
            <h1 *ngIf="submitted">{{'Reset Password Requested.' || translate}}</h1>

            <p *ngIf="!submitted">{{'Resetting the password is easy, just tell us your email address registered with us.' || translate}}</p>
            <p *ngIf="submitted">{{'We have sent you the reset password link at '}} <span class="text-success">{{userEmail}}</span></p>
          </div>

          <div *ngIf="!submitted">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="healthPro-card-formContent">
                <div class="form-group">
                  <label for="emailAddress" class="col-form-label">Email Address<span class="text-danger">*</span></label>
                  <input type="email" placeholder="Email address" class="form-control input-underline input-lg"   id="emailAddress" formControlName="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">

                  <div *ngIf="forgotForm.controls['Email'].hasError('required') && formSubmitted" class="text-danger error">Email Address is required.</div>
                  <div *ngIf="(forgotForm.controls['Email'].hasError('email') || forgotForm.controls['Email'].hasError('pattern')) && formSubmitted" class="text-danger error">Email Address is invalid.</div>
                </div>
              </div>
              <div class="healthPro-card-buttons text-center">
                <button type="submit" class="btn btn-primary btn-block btn-radius">Send Reset Password Link</button>
              </div>
            </form>
          </div>
          <div class="text-center">
            <div *ngIf="submitted" class="mt-4"></div>
            <a class="btn btn-link" [routerLink]="['/login']">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
