<div class="modal-header">
  <h4 class="modal-title">Update Profile Image</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <img src="assets/images/close.svg" alt="close icon" width="25">
  </button>
</div>
<div class="modal-body">
  <div class="cropperContainer">
    <div class="loader-wrapper" *ngIf="loading">
      <span>Wait Image is loading... </span>&nbsp;&nbsp; <span class="loader" ></span>
    </div>

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" (click)="close()">Cancel</button>
  <button class="primary-gradient-btn" (click)="uploadFile()">Crop & Update</button>
</div>
